.container-short-description{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }

/* Media query for adapting the screen for smaller devices */



.card-short-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  width: 24rem;
  height: 37rem;
  border: 2px solid transparent;
  border-radius: 10%;
  background-color: rgb(0, 0, 0);  
  /* margin-left: 1rem;; */
  margin-bottom: 1rem;
  transition: 0.4s;
  
}

@media (max-width: 500px){
  .card-short-description{
    width: 18rem;
    height: 25.5rem;
  }
}

.card-short-description:hover{
  background-color: rgb(58, 58, 57);
  border: 2px solid rgb(12, 8, 8);
  transition: 0.4s;
  
}


.card-title-short-description{
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;;
  padding: 10px;
  border: 1px solid transparent;
  color: rgb(252, 237, 237);
}

@media (max-width:500px){
  .card-title-short-description{
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.card-title-short-description:hover{
  
  border-bottom: 1px solid rgb(10, 9, 9);
  transition: 0.4s;
}





.btt-short-description{
  border-radius: 10px;
  border: 1x solid rgb(167, 22, 22);
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  color: white;
  padding: 5px;
  margin-bottom: 5px;;
  margin-top: 40px;
  cursor: pointer;
}

@media (max-width: 500px){
  .btt-short-description{
    font-size: 0.7rem;
  }
}

/* Icons */

.icon-rocket{
  color: rgb(238, 238, 62);
  font-size: 1rem;
}

@media (max-width: 500px){
  .icon-rocket{
    font-size: 0.7rem;
  }
}

@media (max-width: 375px){
  .card-title-short-description{
    font-size: 1.1rem;
  }

}

@media (max-width: 350px){
  .card-short-description{
    width: 12.6rem;
    height: 19rem;
  }
}

@media (max-width: 350px){
  .card-title-short-description{
    font-size: 1rem;
    margin-bottom: 2px
  }
  
}

