.link-description{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 235, 215);
}

.link-text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.icons{
  display: flex;
  justify-content: center;
  color: rgb(211, 210, 197);
  height: 4rem;
  width: 4rem;
}

/* Media Queries */

@media (max-width: 1300px){
  .link-text{
    font-size: 1rem;
  }
}

@media (max-width: 975px){
  .icons{
    height: 3rem;
    width: 3rem;
  }
  .link-text{
    font-size: 0.9rem;
  }
}

@media (max-width:375px){
  .link-description{
    flex-direction: column;
  }
  .link-text{
    flex-direction: column;
    font-size: 0.7rem;
    margin-bottom: 5px;
    padding: 2px;
  }
  .icons{
    margin: 0;
  }
}