.body-short-description{
  background-image: url(../../public/assets/background.webp);
  background-repeat: repeat;
  background-size:contain;
  background-position: center center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


/* Media query for grid-container */

@media (max-width: 1300px){
  .grid-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px){
  .grid-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

.form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}