.footer-container{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: #000000;
  height: 4rem;
  width: 100%;
  
  
}

.copyright-text{
  margin-top: 1rem;;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(233, 228, 221);
}

.icons-footer{
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(250, 224, 191);
  font-size: 1.5rem;
}

@media (max-width: 400px){
  .copyright-text{
    font-size: 1.1rem;
  }
  .icons-footer{
    font-size: 1.1rem;
  }
}
